body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header .carousel-item {
    height: calc(59vh - 62px);
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.brand-logo {
    max-width: 100px;
    height: auto;
    filter: grayscale(100%);
    transition: filter 0.3s ease-in-out;
}
.brand-logo:hover {
    filter: grayscale(0%);
}
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}
.campaign-card {
    height: 100%;
}
.campaign-card .card-img-top {
    height: 200px;
    object-fit: cover;
}

.banner {
    padding: 2rem 0;
    border: 1px solid #ccc;
}
.banner-image {
    max-width: 100%;
    height: auto;
}

#our-products .card-img-top {
    /* height: 150px; */
}

/* Product Details */
.product-image {
    max-width: 100%;
    height: auto;
}
.specs-list {
    list-style-type: none;
    padding-left: 0;
}
.specs-list li {
    margin-bottom: 0.5rem;
}
